main {
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

header {
  color: white;
  font-size: large;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2% 15%;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.logo {
  font-size: 2em;
}

nav a {
  font-size: 1em;
  padding-right: 1em;
}

.welcome {
  color: white;
  padding-top: 15%;
}

.welcome h1 {
  font-size: 3em;
}

.welcome p {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 5%;
}

button {
  padding: 1em 2em;
  border-radius: 20px;
  border: none;
  background-color: rgb(36, 122, 219);
  color: white;
  font-size: 1em;
}
